/* Add your custom CSS styles here */

/* General styles */
body {
  font-family: monospace, Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  background-image: url("bg.jpg"); /* Add your background image URL here */
  background-size: cover;
  background-position: center;
}

.container {
  margin: 40px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2em; /* Adjust the font size */
  color: #333; /* Adjust the font color */
}

/* Form styles */
form {
  background-color: transparent; /* Transparent background for form */
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  cursor: ew-resize;
  background: #fff;
  /* box-shadow: -405px 0 0 400px #605e5c; */
  border-radius: 50%;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  /* font-weight: bold; */
}

.form-control {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Result styles */
.result-container {
  width: 60%; /* Decrease the width to 60% on the result page */
  margin: auto; /* Center the result container horizontally */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text horizontally */
}

.result-text {
  font-size: 18px;
  color: #333;
}
.center-button {
  display: flex;
  justify-content: center;
}
